WrBot/appsettings.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
WrBot/.vscode/launch.json
WrBot/.vscode/tasks.json
WrBot/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Abstractions.dll
WrBot/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.dll
WrBot/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.FileExtensions.dll
WrBot/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Json.dll
WrBot/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileProviders.Abstractions.dll
WrBot/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileProviders.Physical.dll
WrBot/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileSystemGlobbing.dll
WrBot/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Logging.Abstractions.dll
WrBot/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Primitives.dll
WrBot/bin/Debug/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
WrBot/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
WrBot/bin/Debug/netcoreapp3.0/RestEase.dll
WrBot/bin/Debug/netcoreapp3.0/System.Configuration.ConfigurationManager.dll
WrBot/bin/Debug/netcoreapp3.0/System.Drawing.Common.dll
WrBot/bin/Debug/netcoreapp3.0/System.Runtime.Caching.dll
WrBot/bin/Debug/netcoreapp3.0/System.Security.AccessControl.dll
WrBot/bin/Debug/netcoreapp3.0/System.Security.Cryptography.ProtectedData.dll
WrBot/bin/Debug/netcoreapp3.0/System.Security.Permissions.dll
WrBot/bin/Debug/netcoreapp3.0/System.Security.Principal.Windows.dll
WrBot/bin/Debug/netcoreapp3.0/System.Text.Json.dll
WrBot/bin/Debug/netcoreapp3.0/System.Windows.Extensions.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Api.Core.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Api.Core.Enums.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Api.Core.Interfaces.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Api.Core.Models.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Api.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Api.Helix.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Api.Helix.Models.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Api.V5.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Api.V5.Models.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Client.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Client.Enums.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Client.Models.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.Communication.dll
WrBot/bin/Debug/netcoreapp3.0/TwitchLib.PubSub.dll
WrBot/bin/Debug/netcoreapp3.0/WrBot
WrBot/bin/Debug/netcoreapp3.0/WrBot.deps.json
WrBot/bin/Debug/netcoreapp3.0/WrBot.dll
WrBot/bin/Debug/netcoreapp3.0/WrBot.pdb
WrBot/bin/Debug/netcoreapp3.0/WrBot.runtimeconfig.dev.json
WrBot/bin/Debug/netcoreapp3.0/WrBot.runtimeconfig.json
WrBot/bin/Debug/netcoreapp3.0/xunit.abstractions.dll
WrBot/bin/Debug/netcoreapp3.0/xunit.assert.dll
WrBot/bin/Debug/netcoreapp3.0/xunit.core.dll
WrBot/bin/Debug/netcoreapp3.0/xunit.execution.dotnet.dll
WrBot/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
WrBot/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
WrBot/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
WrBot/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
WrBot/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
WrBot/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
WrBot/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
WrBot/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
WrBot/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WrBot/obj/project.assets.json
WrBot/obj/WrBot.csproj.nuget.cache
WrBot/obj/WrBot.csproj.nuget.dgspec.json
WrBot/obj/WrBot.csproj.nuget.g.props
WrBot/obj/WrBot.csproj.nuget.g.targets
WrBot/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
WrBot/obj/Debug/netcoreapp3.0/WrBot
WrBot/obj/Debug/netcoreapp3.0/WrBot.AssemblyInfo.cs
WrBot/obj/Debug/netcoreapp3.0/WrBot.AssemblyInfoInputs.cache
WrBot/obj/Debug/netcoreapp3.0/WrBot.assets.cache
WrBot/obj/Debug/netcoreapp3.0/WrBot.csproj.AssemblyReference.cache
WrBot/obj/Debug/netcoreapp3.0/WrBot.csproj.CopyComplete
WrBot/obj/Debug/netcoreapp3.0/WrBot.csproj.FileListAbsolute.txt
WrBot/obj/Debug/netcoreapp3.0/WrBot.csprojAssemblyReference.cache
WrBot/obj/Debug/netcoreapp3.0/WrBot.dll
WrBot/obj/Debug/netcoreapp3.0/WrBot.pdb
WrBotTests/.vscode/settings.json
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Abstractions.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.FileExtensions.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Json.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileProviders.Abstractions.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileProviders.Physical.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileSystemGlobbing.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Logging.Abstractions.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Primitives.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.CommunicationUtilities.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.CoreUtilities.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.CrossPlatEngine.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.PlatformAbstractions.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.TestPlatform.Utilities.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.TestPlatform.Common.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
WrBotTests/bin/Debug/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
WrBotTests/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
WrBotTests/bin/Debug/netcoreapp3.0/RestEase.dll
WrBotTests/bin/Debug/netcoreapp3.0/System.Configuration.ConfigurationManager.dll
WrBotTests/bin/Debug/netcoreapp3.0/System.Drawing.Common.dll
WrBotTests/bin/Debug/netcoreapp3.0/System.Runtime.Caching.dll
WrBotTests/bin/Debug/netcoreapp3.0/System.Security.AccessControl.dll
WrBotTests/bin/Debug/netcoreapp3.0/System.Security.Cryptography.ProtectedData.dll
WrBotTests/bin/Debug/netcoreapp3.0/System.Security.Permissions.dll
WrBotTests/bin/Debug/netcoreapp3.0/System.Security.Principal.Windows.dll
WrBotTests/bin/Debug/netcoreapp3.0/System.Text.Json.dll
WrBotTests/bin/Debug/netcoreapp3.0/System.Windows.Extensions.dll
WrBotTests/bin/Debug/netcoreapp3.0/System.Xml.XPath.XmlDocument.dll
WrBotTests/bin/Debug/netcoreapp3.0/testhost.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Api.Core.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Api.Core.Enums.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Api.Core.Interfaces.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Api.Core.Models.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Api.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Api.Helix.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Api.Helix.Models.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Api.V5.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Api.V5.Models.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Client.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Client.Enums.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Client.Models.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.Communication.dll
WrBotTests/bin/Debug/netcoreapp3.0/TwitchLib.PubSub.dll
WrBotTests/bin/Debug/netcoreapp3.0/WrBot
WrBotTests/bin/Debug/netcoreapp3.0/WrBot.dll
WrBotTests/bin/Debug/netcoreapp3.0/WrBot.pdb
WrBotTests/bin/Debug/netcoreapp3.0/WrBotTests.deps.json
WrBotTests/bin/Debug/netcoreapp3.0/WrBotTests.dll
WrBotTests/bin/Debug/netcoreapp3.0/WrBotTests.pdb
WrBotTests/bin/Debug/netcoreapp3.0/WrBotTests.runtimeconfig.dev.json
WrBotTests/bin/Debug/netcoreapp3.0/WrBotTests.runtimeconfig.json
WrBotTests/bin/Debug/netcoreapp3.0/xunit.abstractions.dll
WrBotTests/bin/Debug/netcoreapp3.0/xunit.assert.dll
WrBotTests/bin/Debug/netcoreapp3.0/xunit.core.dll
WrBotTests/bin/Debug/netcoreapp3.0/xunit.execution.dotnet.dll
WrBotTests/bin/Debug/netcoreapp3.0/xunit.runner.reporters.netcoreapp10.dll
WrBotTests/bin/Debug/netcoreapp3.0/xunit.runner.utility.netcoreapp10.dll
WrBotTests/bin/Debug/netcoreapp3.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
WrBotTests/bin/Debug/netcoreapp3.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
WrBotTests/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
WrBotTests/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
WrBotTests/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
WrBotTests/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
WrBotTests/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
WrBotTests/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
WrBotTests/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
WrBotTests/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WrBotTests/bin/Debug/netcoreapp3.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
WrBotTests/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
WrBotTests/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
WrBotTests/obj/Debug/netcoreapp3.0/WrBotTests.AssemblyInfo.cs
WrBotTests/obj/Debug/netcoreapp3.0/WrBotTests.AssemblyInfoInputs.cache
WrBotTests/obj/Debug/netcoreapp3.0/WrBotTests.assets.cache
WrBotTests/obj/Debug/netcoreapp3.0/WrBotTests.csproj.AssemblyReference.cache
WrBotTests/obj/Debug/netcoreapp3.0/WrBotTests.csproj.CopyComplete
WrBotTests/obj/Debug/netcoreapp3.0/WrBotTests.csproj.FileListAbsolute.txt
WrBotTests/obj/Debug/netcoreapp3.0/WrBotTests.csprojAssemblyReference.cache
WrBotTests/obj/Debug/netcoreapp3.0/WrBotTests.dll
WrBotTests/obj/Debug/netcoreapp3.0/WrBotTests.pdb
WrBotTests/obj/WrBotTests.csproj.nuget.cache
WrBotTests/obj/WrBotTests.csproj.nuget.dgspec.json
WrBotTests/obj/WrBotTests.csproj.nuget.g.props
WrBotTests/obj/WrBotTests.csproj.nuget.g.targets
.DS_Store
