WrBot/appsettings.json
.vscode/
WrBot/.vscode/
WrBot/bin/
WrBot/obj/
WrBotTests/.vscode/
WrBotTests/bin/
WrBotTests/obj/
.DS_Store
WrBot/logs/
WrBot/.DS_Store
SrcGameListRefresher/bin/
SrcGameListRefresher/obj/
SrcFacade/bin/
SrcFacade/obj/
TwitchFacade/bin/
TwitchFacade/obj/
SrcGameListRefresher/games.txt
WrBot/games.txt
