WrBot/appsettings.json
.vscode/
WrBot/.vscode/
WrBot/bin/
WrBot/obj/
WrBotTests/.vscode/
WrBotTests/bin/
WrBotTests/obj/
.DS_Store
WrBot/logs/
WrBot/.DS_Store
SrcGameListRefresher/bin/
SrcGameListRefresher/obj/
SrcRestEase/bin/
SrcRestEase/obj/
TwitchRestEase/bin/
TwitchRestEase/obj/